<launch>
  <env
        name="ROSCONSOLE_CONFIG_FILE"
        value="$(find beginner_tutorials)/config/rosconsole_config.config"
  />
    <arg name="frequencyInput" default="10" />
    <arg name="status" default="false" />
  <node
     pkg = "beginner_tutorials"
     type = "talker"
     name = "talker_modified"
     args= "$(arg frequencyInput)"
     launch-prefix="xterm -e"
   />
  <node
     pkg = "beginner_tutorials"
     type = "listener"
     name = "listener_modified"
     launch-prefix="xterm -e"
   />
  <node
     pkg = "rosbag"
     name = "record"
     type = "record"
     args = "-a -O result.bag"
     if = "$(arg status)"
   />
</launch>
